/* ESERCIZIO 1 */

.ex-1-square{
    transition: 5s;
}

.ex-1-square:hover{
    background-color: red;
}

/* ESERCIZIO 2 */

.ex-2-square{
    transition: 5s;
}

.ex-2-square:active{
    width: 100%;
}

/* ESERCIZIO 3 */

.ex-3-square{
    transition: 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* ESERCIZIO 4 */

.ex-4-square{
    transition: 5s;
}

.ex-4-square:hover{
    opacity: .0;
}

/* ESERCIZIO 5 */

.ex-5-square{
    transition: .5s linear;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

/* ESERCIZIO 6 */

.ex-6-img:hover{
    filter: grayscale(45);
}

/* ESERCIZIO 7 da rivedere*/

.ex-7-img{
    transition: 3s;
}

.ex-7-img:hover{
    filter: sepia(70%) grayscale(30%);
}

/* ESERCIZIO 8*/

.ex-8-img{
    transition: 5s;
}

.ex-8-img:hover{
    filter: grayscale(75%) blur(1px);
    border-radius: 8px;
}

/* ESERCIZIO 9*/

.ex-9-img{
    transition: 3s;
    
}

.ex-9-img:hover{
    filter: grayscale(25) sepia(50);
    border-radius:8px;
    transform: scale(1.5, 1.5);
}

/* ESERCIZIO 10 */

.ex-10-icon{
    animation: circle10 1s linear infinite;
}

@keyframes circle10{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-90deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    75%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

/* ESERCIZIO 11 */

.ex-11-icon:hover{
    animation: circle11  2s linear forwards;
}

@keyframes circle11{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* ESERCIZIO 12 */

a:hover .ex-12-top-white{
    animation: button-top-1 2s linear forwards;
}

@keyframes button-top-1{
    0%{
        left: 10%;
    }   
    50%{
        left: 65%;
    }
    100%{
        left: 10%;
    }
}

a:hover .ex-12-bottom-white{
    animation: button-btm-1 2s linear forwards;
}

@keyframes button-btm-1{
    0%{
        right: 20%;
    }   
    50%{
        right: 65%;
    }
    100%{
        right: 20%;
    }
}

/* ESERCIZIO 13 */

a:hover .ex-13-top-white{
    animation: button-top-2 3s linear forwards;
}

@keyframes button-top-2{
    0%{
        left: 20%;
        top: -10px;
    }
    20%{
        left: 180px;
        top: -10px;
    }
    40%{
        top: 60px;
        left: 180px;
    }
    60%{
        top: 60px;
        left: -10px;
    }
    80%{
        left: -10px;
        top: -10px;
    }
    100%{
        left: 20%;
        top: -10px;
    }
}


a:hover .ex-13-bottom-white{
    animation: button-btm-2 3s linear forwards;
}

@keyframes button-btm-2{
    0%{
        bottom: -10px;
        right: 20%;
    }
    20%{
        bottom: -10px;
        right: 150px;
    }
    40%{
        bottom: 60px;
        right: 150px;
    }
    60%{
        bottom: 60px;
        right:-10px;
    }
    80%{
        bottom: -10px;
        right: -10px;
    }
    100%{
        bottom: -10px;
        right: 20%;
    }
}